//	sobre mim
.about {
	position: relative;
	min-height: 100vh;
  padding: 50px 0;
  background-color: @tertiary;  

  .title {
  	position: relative;
  	display: inline-block;
  	strong {
  		font-size: 7.5vw; 
  	}
  }

  &__profile {
  	position: relative;
   	width: 350px;
  	height: 330px;
  	margin-top: 25px;
  	overflow: hidden;

  	img {
  		width: 100%;
  		height: auto;
  		-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    	filter: grayscale(100%);
  	}

  	&:before {
  		content: '';
  		position: absolute;
  		top: 0;
  		right: 0;
  		z-index: 100;
  		border-top: 80px solid @tertiary;
		  border-bottom: 80px solid transparent; 
		  border-right: 80px solid @secundary; 
		  border-left: 80px solid transparent;
  	}

  	&:after {
  		content: '';
  		position: absolute;
  		bottom: 0;
  		left: 0;
  		z-index: 100;
  		border-top: 80px solid transparent;
		  border-bottom: 80px solid @secundary; 
		  border-right: 80px solid transparent; 
		  border-left: 80px solid @tertiary;
  	}
  }
}

//	experiência
.know {
	min-height: 100vh;
	padding: 50px 0;
	.bg('pattern.png', #020204 left bottom no-repeat);  
	background-size: cover;

	.title {
		font-size: 9vw;
		text-align: center;
		color: #fff;
		span {
			display: inline-block;
			vertical-align: middle;
			margin-left: 25px;
			font-size: 32px;
			text-transform: uppercase;
			text-align: left;
		}
	}

	&__info {
		display: block;
		margin-bottom: 25px;
	}

	&__icon {
		display: inline-block;
		vertical-align: middle;
		width: 25px;
		height: 25px;
		fill: #fff;
	}

	&__place {
		display: inline-block;
		vertical-align: middle;
		margin-left: 5px;
		.mont(1em);
		font-weight: 700;
		color: #fff;
	}

	&__date {
		display: block;
		margin: 10px 0 20px;
		color: @secundary;
		font-weight: bold;
	}

	&__text {
		font-size: .9em;
		line-height: 1.5em;
		color: @text;
	}
	
	&__list {
		display: inline-block;
		vertical-align: middle;       
    margin: 5px;
    padding: 20px;
    background-color: @secundary;
    .mont(1em);
    color: @primary; 
	}
}

// trabalhos
.works {
	min-height: 100vh;
	padding: 50px 0;
	background-color: @tertiary;

	.title {
		text-align: center;
	}

	.col-sm-6 {
		padding: 0 10px;
	}

	&__itens {
		position: relative;

	}

	a {
		display: block;
		overflow: hidden;
	}

	&__list {
		position: relative;
	}

	&__image {
		margin-bottom: 10px;
	}

	&__caption {
		position: absolute;
		bottom: 12px;
		left: 10px;
		width: ~"calc(100% - 20px)";
		height: 13%;
		padding: 5px 10px;
		
		.mont(1em);
		font-weight: 700;
		color: @tertiary;
		text-transform: uppercase;
		.transition(.3s);
		background-color: @primary;
	}

	img {
		width: 100%;
		height: auto;
		.transition(.2s);
	}
	a:hover {
		img {			
			.transform(translate3d(0, -10%, 0));
		}
		.works__caption {
			height: 30%;
		}
	}
}

// desktop 1024
@media only screen and (max-width: 1200px) {}

// celular com porcentagem
@media only screen and (max-width: 992px) {}

// celulares tela pequena
@media only screen and (max-width: 767px) {}