.about {
	position: relative;
  padding-top: 50px;
  background-color: @secundary;


  &:before {
  	content: '';
  	position: absolute;
  	top: 0;
    right: 0;    
  	width: 150%;
  	height: 400px;
  	background-color: @secundary;
  	-webkit-transform-origin: left;
    -moz-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
    -webkit-transform: skewY(-3eg);
    -moz-transform: skewY(-3eg);
    -o-transform: skewY(3eg);
     transform: skewY(-3deg); 
  }

  &:after: '';
  	position: absolute;
  	top: 0;
    left: 0;    
  	width: 150%;
  	height: 400px;
  	background-color: @secundary;
  	-webkit-transform-origin: right;
    -moz-transform-origin: right;
    -o-transform-origin: right;
    transform-origin: right;
    -webkit-transform: skewY(3eg);
    -moz-transform: skewY(3eg);
    -o-transform: skewY(3eg);
     transform: skewY(3deg); 
  }


	.profile {
		position: relative;
		
		img {
			width: 100%;
			height: auto;
		}

	}
	
	.text {
		margin-bottom: 25px;


		span {
			display: block;
			strong {
				.mont(1em);
				font-weight: 700;
			}
		}
	}

	&__caption {
		display: block;
		margin-bottom: 20px;
		.mont(1.3em);
		font-weight: 700;
	}

}

// desktop 1024
@media only screen and (max-width: 1200px) {}

// celular com porcentagem
@media only screen and (max-width: 992px) {}

// celulares tela pequena
@media only screen and (max-width: 767px) {}